{% unless template == 'index' or template == 'cart' or template == 'list-collections' %}
<ul class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
  <li><a href="/" title="Home">Home</a></li>
  {% if template contains 'page' %}
    <li><span>{{ page.title }}</span></li>

  {% elsif template contains 'product' %}
    {% if collection.url %}
      <li>{{ collection.title | link_to: collection.url }}</li>
    {% endif %}
    <li><span>{{ product.title }}</span></li>

  {% elsif template contains 'collection' and collection.handle %}
      {% if current_tags %}
        <li>{% capture url %}/collections/{{ collection.handle }}{% endcapture %}
          {{ collection.title | link_to: url }}</li>
      {% else %}
        <li>
          <span>{{ collection.title }}</span>
        </li>
      {% endif %}

  {% elsif template == 'blog' %}
    <li>
      {% if current_tags %}
        {{ blog.title | link_to: blog.url }}
        <span>{{ current_tags | join: " + " }}</span>
      {% else %}
      <span>{{ blog.title }}</span>
    </li>
    {% endif %}

  {% elsif template == 'article' %}
    <li>
      {{ blog.title | link_to: blog.url }}</li>
    <li>
      <span>{{ article.title }}</span>
    </li>
  {% else %}
   <li><span>{{ page_title }}</span></li>
  {% endif %}
</ul>
{% endunless %}