<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="description" content="High quality custom made cables for musicians, churches, AV integrators and production companies">
	
<meta name="google-site-verification" content="pM9Gk86ira5dmr6mHcjZ6MjZVCr2y94DdcAdWQ_opSo" />
  <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | asset_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | asset_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | asset_url }}">
<link rel="manifest" href="{{ 'site.webmanifest' | asset_url }}">
  
  

  
  <meta property="og:image" content="{{ 'featured_image.jpg' | asset_url }}">
<meta property="og:image:type" content="image/jpg">
<meta property="og:image:width" content="1024">
<meta property="og:image:height" content="1024">
  <meta property="og:description" content="High quality custom made cables for musicians, churches, AV integrators and production companies">
  

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <style>
    .main__navigation ul {
      visibility: hidden;
      position: absolute;
    }
  </style>

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}


  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->
  
  
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'mustash.js' | asset_url }}"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'mustash.js' | asset_url }}"></script><![endif]-->
  <script type="text/javascript">
    var customTags = [ '<%=', '=%>' ];
    Mustache.tags = customTags;
  </script>
  
  <!-- TEMPLATE: {{ template }} -->
  {% if template == 'page.custom' %}
    {{ 'config.scss.css' | asset_url | stylesheet_tag }}
    {{ 'customconfig_ui.scss.css' | asset_url | stylesheet_tag }}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>

  	<script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  
  	<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'customconfig_utility.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'customconfig_utility.js' | asset_url }}"></script><![endif]-->
  
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'customconfig.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'customconfig.js' | asset_url }}"></script><![endif]-->
  {% endif %}
  
  {% if template == 'page.custom_instrument' %}
    {{ 'config.scss.css' | asset_url | stylesheet_tag }}
  	{{ 'customconfig_ui.scss.css' | asset_url | stylesheet_tag }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>

  	<script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  
  	<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'customconfig_utility.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'customconfig_utility.js' | asset_url }}"></script><![endif]-->
  
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'customconfig_instrument.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'customconfig_instrument.js' | asset_url }}"></script><![endif]-->
  {% endif %}
  
  {% if template == 'page.custom_power' %}
    {{ 'config.scss.css' | asset_url | stylesheet_tag }}
  	{{ 'customconfig_ui.scss.css' | asset_url | stylesheet_tag }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>

  	<script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  
  	<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'customconfig_utility.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'customconfig_utility.js' | asset_url }}"></script><![endif]-->
  
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'customconfig_power.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'customconfig_power.js' | asset_url }}"></script><![endif]-->
  {% endif %}
  
  
  
  {% if template == 'page.custom_speaker' %}
    {{ 'config.scss.css' | asset_url | stylesheet_tag }}
  	{{ 'customconfig_ui.scss.css' | asset_url | stylesheet_tag }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>

  	<script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  
  	<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'customconfig_utility.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'customconfig_utility.js' | asset_url }}"></script><![endif]-->
  
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'customconfig_speaker.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'customconfig_speaker.js' | asset_url }}"></script><![endif]-->
  {% endif %}
  
  {% if template == 'page.custom_data' %}
    {{ 'config.scss.css' | asset_url | stylesheet_tag }}
  	{{ 'customconfig_ui.scss.css' | asset_url | stylesheet_tag }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>

  	<script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  
  	<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'customconfig_utility.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'customconfig_utility.js' | asset_url }}"></script><![endif]-->
  
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'customconfig_data.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'customconfig_data.js' | asset_url }}"></script><![endif]-->
  {% endif %}
  

  {% if template == 'page.custom_multicore' %}
    {{ 'config.scss.css' | asset_url | stylesheet_tag }}
  	{{ 'customconfig_ui.scss.css' | asset_url | stylesheet_tag }}
   	{{ 'customconfig_multicore.scss.css' | asset_url | stylesheet_tag }}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>

  	<script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  
  	<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'customconfig_utility.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'customconfig_utility.js' | asset_url }}"></script><![endif]-->
  
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'customconfig_multicore.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'customconfig_multicore.js' | asset_url }}"></script><![endif]-->
  {% endif %}
  
  
  {% if template == 'cart' %}
  	<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'customcart.js' | asset_url }}"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'customcart.js' | asset_url }}"></script><![endif]-->
  {% endif %}
  
  
  {% if template == 'page.datapage' %}
    {{ 'config.scss.css' | asset_url | stylesheet_tag }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>

  	<script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'datapage.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'datapage.js' | asset_url }}"></script><![endif]-->
  {% endif %}
  
  
  

  {{ content_for_header }}

  {% include 'bookthatapp-widgets' %}
  
  
  
  
  <script>
  {% assign deposit = all_products['deposit'] %}
  BookingDeposit = function() {
    var _this = this;
    
    _this.cart = {{ cart | json }};
    _this.depositProduct = {{ deposit | json }};
    _this.depositAmount = 0;
    _this.depositLine = -1;
    _this.cartDepositVariantId = -1;
    _this.lineQuantities = [];
    
    this.init = function() {
      _this.initData();
      _this.calcDepositAmount();
      
      if (_this.depositAmount == 0) {
        if (_this.depositLine > -1) {
          // remove existing deposit product
          $('.cart__wrapper').addClass("loading");
          _this.removeDeposit().done(function() {
            location.href = '/cart';
          });
        }
      } else {
        var depositVariant = _this.findDepositVariant();
        
        if (_this.depositLine > -1) { // deposit variant is already in cart
          if (_this.cartDepositVariantId != depositVariant.id) {
            // remove existing deposit product then add new one
            $('.cart__wrapper').addClass("loading");
            _this.removeDeposit().done(function() {
              _this.addDepositThenReturn(depositVariant);
            });
          }
        } else {
          _this.addDepositThenReturn(depositVariant);
        }
      }
    };
    
    
    
    
    this.calcDepositAmount = function() {
      for (var i = 0; i < _this.cart.items.length; i++) {
        var item = _this.cart.items[i];
        
//         console.log("calc deposit", item);
        
        if (item.handle != 'deposit' && typeof item.properties.From != "undefined") {
        	_this.depositAmount += item.price;
        }
      }
    }; 
    
    this.findDepositVariant = function() {
      var amount = _this.depositAmount * 1;
      
//       console.log("findDepositVariant", amount);
      
      
      
      var index = 0,
          variant = _this.depositProduct.variants[0];
      
/*
      console.log("depo product", _this.depositProduct);
      console.log("depo product variant", variant);
*/
      
      while ((variant.price - amount < 0) && index < _this.depositProduct.variants.length) {
        index++
        if(typeof _this.depositProduct.variants[index] != "undefined")
        {
          variant = _this.depositProduct.variants[index];
        
//         console.log("depo product variant " + index, variant);
        }
        
      }
      
      return variant;
    };
    
    this.removeDeposit = function() {
      $('.cart__wrapper').addClass("loading");
      return $.ajax({
        type: 'POST',
        url: '/cart/change.js', 
        data: {line: _this.depositLine, quantity: 0}, 
        dataType: 'json'
      });
    }
      
    this.addDepositThenReturn = function(variant) {
      $('.cart__wrapper').addClass("loading");
      $.ajax({
        type: 'POST',
        url: '/cart/add.js', 
        data: {id:variant.id, quantity:1}, 
        dataType: 'json'
      }).done(function(cart) {
        window.location.href = '/cart?refresh=1';
      });
    }
    
    this.initData = function() {
      {% for item in cart.items %}
        {% if item.product.handle == 'deposit' %}
        _this.depositLine = {{ forloop.index }};
        _this.cartDepositVariantId = {{ item.variant_id }};
        {% endif %}
        
        _this.lineQuantities.push({{ item.quantity }});
      {% endfor %}
    }
    
    this.init();
  }
        
  document.addEventListener("DOMContentLoaded", function(event) { 
    new BookingDeposit();
  });
</script>
  
  
  
  

  {% render 'shogun-head' %}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
  {% if template.name == 'index' %}
    <div class="prelaoder__holder" id="preLoader">
      <div class="preloader"></div>
    </div>
  {% endif %}
  <div id="wrapper">
    <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

    {% section 'header' %}
    
    {% if page.name == 'contact' %}
      {% section 'banner' %}
    {% endif %}

    {% if template.name != 'index' %}
      <main role="main" id="MainContent">
        {{ content_for_layout }}
      </main>
    {%- elsif template.name == 'index' -%}
      {{ content_for_layout }}
    {% endif %}

    {% section 'footer' %}
  </div>
  <script src="{{ 'ImageLoaderPlugin.js' | asset_url }}"></script>
  <script>
    var imgSource = 'https://cdn-dilate-digital.s3-ap-southeast-1.amazonaws.com/cablesmiths/images/animated/';
    var imageExtension = '.png';
    var totalImages = 77;
    var bannerImages = [];


    for(i = 61; i <= totalImages; i++) {
      var imageURL = imgSource + i + imageExtension;
      bannerImages.push(imageURL);
    }

    var imageCycle = new ImageFader({
      images: bannerImages,
      target: '.banner .cable__image',
      duration: 3,
      infinite: true,
      randomise: true
    });
  </script>
 {% include 'smile-initializer' %}

</body>
</html>
