<section class="promo">
  <div class="page-width">
    <div class="promo__holder">
      <div class="promo__wrapper">
        <h2>Configure your own cable</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="button__holder">
          <a href="#" class="button button--white">Customize now</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content__wrapper">
  <div class="page-width">
    <header class="mainhead">
      <h2>Featured Products</h2>
    </header>
    <div class="products product__slider">
      <div class="slide">
        <div class="product">
          <div class="product__image">
            <img src="{{ 'cable01.png' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <div class="product__text">
            <h2>Mogami {% comment %}Gi10rr Gold Instrument Cable{% endcomment %}</h2>
            <span class="product__option">6 colors</span>
            <div class="product__meta">
              <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
              <span class="product__price">$25<span class="product__price--cent">.60</span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="product">
          <div class="product__image">
            <img src="{{ 'cable02.png' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <div class="product__text">
            <h2>Mogami Gi10rr Gold Instrument Cable</h2>
            <span class="product__option">6 colors</span>
            <div class="product__meta">
              <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
              <span class="product__price">$75<span class="product__price--cent">.60</span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="product">
          <div class="product__image">
            <img src="{{ 'cable03.png' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <div class="product__text">
            <h2>Mogami Gi10rr Gold Instrument Cable</h2>
            <span class="product__option">6 colors</span>
            <div class="product__meta">
              <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
              <span class="product__price">$75<span class="product__price--cent">.60</span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="product">
          <div class="product__image">
            <img src="{{ 'cable04.png' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <div class="product__text">
            <h2>Mogami Gi10rr Gold Instrument Cable</h2>
            <span class="product__option">6 colors</span>
            <div class="product__meta">
              <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
              <span class="product__price">$25<span class="product__price--cent">.60</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content__wrapper black--bg">
  <div class="page-width">
    <header class="mainhead">
      <h2>Designed For You</h2>
    </header>
    <div class="products product__slider">
      <div class="slide">
        <div class="product">
          <div class="product__image">
            <img src="{{ 'cable01.png' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <div class="product__text">
            <h2>Microphone Cables</h2>
            <div class="product__meta">
              <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
              <span class="product__price">$25<span class="product__price--cent">.60</span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="product">
          <div class="product__image">
            <img src="{{ 'cable05.png' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <div class="product__text">
            <h2>Guitar &amp; Keyboard Cables</h2>
            <div class="product__meta">
              <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
              <span class="product__price">$75<span class="product__price--cent">.60</span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="product">
          <div class="product__image">
            <img src="{{ 'cable03.png' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <div class="product__text">
            <h2>Cable Ties</h2>
            <div class="product__meta">
              <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
              <span class="product__price">$75<span class="product__price--cent">.60</span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="product">
          <div class="product__image">
            <img src="{{ 'cable04.png' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <div class="product__text">
            <h2>Designer Heatshrink Labels</h2>
            <div class="product__meta">
              <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
              <span class="product__price">$25<span class="product__price--cent">.60</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content__wrapper less--bottom">
  <div class="page-width">
    <div class="mainhead">
      <h2>Professional Production</h2>
    </div>
    <div class="product__holder">
      <div class="product__block">
        <div class="product__block-image">
          <img src="{{ 'box-cable01.png' | asset_url }}" alt="{{ shop.name }}">
        </div>
        <div class="product__block-text">
          <h2>Speakers</h2>
          <p>Explore our range of speaker cables for professional touring covering all NL4, NL8, EP5 and 8 pin CA-COM style configurations made exclusively with Klotz cable available in standard and custom lengths.</p>
          <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
        </div>
      </div>
      <div class="product__block">
        <div class="product__block-image">
          <img src="{{ 'box-cable02.png' | asset_url }}" alt="{{ shop.name }}">
        </div>
        <div class="product__block-text">
          <h2>Multicores and Stageboxes</h2>
          <p>Browse our customisable analog and digital multicores constructed with your choice of balanced connectors and industry standard round multipin connectors.</p>
          <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
        </div>
      </div>
      <div class="product__block">
        <div class="product__block-image">
          <img src="{{ 'box-cable03.png' | asset_url }}" alt="{{ shop.name }}">
        </div>
        <div class="product__block-text">
          <h2>Networking</h2>
          <p>CAT.5e and Cat.6a patch cables and cable drums available with your choice of etherCon and RJ45 connectors in ruggedised or standard jacket versions.</p>
          <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
        </div>
      </div>
      <div class="product__block">
        <div class="product__block-image">
          <img src="{{ 'box-cable02.png' | asset_url }}" alt="{{ shop.name }}">
        </div>
        <div class="product__block-text">
          <h2>4K UHD Video</h2>
          <p>Installation and field deployable cable drums available in standard and custom lengths, exclusively made with Belden’s 4694R and 4694F terminated with Neutrik’s UHD BNC.</p>
          <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="logo__holder">
  <div class="page-width">
    <ul class="logos logo__slider">
      <li>
        <a href="#">
          <img src="{{ 'logo01.jpg' | asset_url }}" alt="{{ shop.name }}">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ 'logo02.jpg' | asset_url }}" alt="{{ shop.name }}">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ 'logo03.jpg' | asset_url }}" alt="{{ shop.name }}">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ 'logo04.jpg' | asset_url }}" alt="{{ shop.name }}">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ 'logo05.jpg' | asset_url }}" alt="{{ shop.name }}">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ 'logo06.jpg' | asset_url }}" alt="{{ shop.name }}">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ 'logo07.jpg' | asset_url }}" alt="{{ shop.name }}">
        </a>
      </li>
    </ul>
  </div>
</section>
<section class="content__wrapper black--bg">
  <div class="page-width">
    <div class="mainhead">
      <h2>Our Blog</h2>
    </div>
    <div class="blogs blog__slider">
      <div class="slide">
        <div class="blog">
          <a href="#">
            <div class="blog__image">
              <img src="{{ 'blog01.jpg' | asset_url }}" alt="{{ shop.name }}">
            </div>
            <div class="blog__text">
              <time class="time" datetime="2018-02-22">FEBRUARY 22, 2018</time>
              <h3>Watch Johnny Depp Perform With Stone Temple Pilots at Tour Opener</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="slide">
        <div class="blog">
          <a href="#">
            <div class="blog__image">
              <img src="{{ 'blog02.jpg' | asset_url }}" alt="{{ shop.name }}">
            </div>
            <div class="blog__text">
              <time class="time" datetime="2018-02-22">FEBRUARY 22, 2018</time>
              <h3>Watch Johnny Depp Perform With Stone Temple Pilots at Tour Opener</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="slide">
        <div class="blog">
          <a href="#">
            <div class="blog__image">
              <img src="{{ 'blog03.jpg' | asset_url }}" alt="{{ shop.name }}">
            </div>
            <div class="blog__text">
              <time class="time" datetime="2018-02-22">FEBRUARY 22, 2018</time>
              <h3>Watch Johnny Depp Perform With Stone Temple Pilots at Tour Opener</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="info__wrapper">
  <div class="page-width">
    <div class="grid">
      <div class="grid__item one-quarter">
        <div class="info">
          <div class="info__ico">
            <img src="{{ 'ico-faq.svg' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <h4>FAQs</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore magna aliquain.</p>
        </div>
      </div>
      <div class="grid__item one-quarter">
        <div class="info">
          <div class="info__ico">
            <img src="{{ 'ico-tick.svg' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <h4>Warranties</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore magna aliquain.</p>
        </div>
      </div>
      <div class="grid__item one-quarter">
        <div class="info">
          <div class="info__ico">
            <img src="{{ 'ico-ship.svg' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <h4>Shipping</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore magna aliquain.</p>
        </div>
      </div>
      <div class="grid__item one-quarter">
        <div class="info">
          <div class="info__ico">
            <img src="{{ 'ico-envelope.svg' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <h4>Subscribe</h4>
          <form action="#" class="subscribe__form">
            <div class="form__wrap">
              <input type="email" placeholder="Enter Your Email">
              <button type="submit">{% include 'icon-arrow-right-long' %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>