<div class="custom__wrapper">
  {% comment %}<div class="custom__cables">
    <div class="page-width">
      <h2>Select your cable</h2>
      <div class="grid grid--flex">
        <div class="grid__item one-fifth">
          <div class="custom__product">
            <h3>Microphones</h3>
            <div class="custom__product-image">
              <img src="{{ 'img03.jpg' | asset_url }}" alt="{{ shop.name }}">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa</p>
            <a href="#" class="button">Build</a>
          </div>
        </div>
        <div class="grid__item one-fifth">
          <div class="custom__product">
            <h3>Guitars & Keyboards</h3>
            <div class="custom__product-image">
              <img src="{{ 'img04.jpg' | asset_url }}" alt="{{ shop.name }}">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa</p>
            <a href="#" class="button">Build</a>
          </div>
        </div>
        <div class="grid__item one-fifth">
          <div class="custom__product">
            <h3>Speakers</h3>
            <div class="custom__product-image">
              <img src="{{ 'img05.jpg' | asset_url }}" alt="{{ shop.name }}">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa</p>
            <a href="#" class="button">Build</a>
          </div>
        </div>
        <div class="grid__item one-fifth">
          <div class="custom__product">
            <h3>Multicores</h3>
            <div class="custom__product-image">
              <img src="{{ 'img06.jpg' | asset_url }}" alt="{{ shop.name }}">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa</p>
            <a href="#" class="button">Build</a>
          </div>
        </div>
        <div class="grid__item one-fifth">
          <div class="custom__product">
            <h3>Data &amp; Networking</h3>
            <div class="custom__product-image">
              <img src="{{ 'img07.jpg' | asset_url }}" alt="{{ shop.name }}">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa</p>
            <a href="#" class="button">Build</a>
          </div>
        </div>
      </div>
    </div>
  </div>{% endcomment %}
  <div class="custom__configure microphones">
    <div class="page-width">
      <div class="grid">
        <div class="grid__item seven-twelfths">
          {% comment %}<div class="prod__image image">
            <div class="prod__logo">
              <img src="black.png" class="prod__logo--image" alt="{{ shop.name }}">
            </div>
            <img src="{{ 'cable-06.png' | asset_url }}" alt="{{ shop.name }}">
            <img class="image-cable" src="black.png">
          </div>
          <div class="prod__infos">
            <a href="#" class="prod__spec">Cable Specifications</a>
            <span class="prod__info">* Some items will not render on cable</span>
          </div>{% endcomment %}
          <div class="image">
            <img class="prod__logo--image" /> <img class="image-cable" src="" />
          </div>
        </div>
        <div class="grid__item five-twelfths">
          <div class="microphone">
            <h2>Microphones</h2>
            <div class="cable">
              <h4>Cable Options</h4>
              <h6>Cable Brand</h6>
              <ul class="brand"></ul>
              <h6>Cable Choice</h6>
              <ul class="type"></ul>
              <h6>Cable Colour</h6>
              <ul class="colour"></ul>
            </div>
            <div class="connector_a">
              <h4>Connector A Options</h4>
              <h6>Connector A Brand</h6>
              <ul class="brand"></ul>
              <h6>Connector A Choice</h6>
              <ul class="type"></ul>
              <h6>Connector A Colour</h6>
              <ul class="colour"></ul>
            </div>
            <div class="connector_b">
              <h4>Connector B Options</h4>
              <h6>Connector B Brand</h6>
              <ul class="brand"></ul>
              <h6>Connector B Choice</h6>
              <ul class="type"></ul>
              <h6>Connector B Colour</h6>
              <ul class="colour"></ul>
            </div>
            <div class="heatshrink">
              <h4>Heatshrink</h4>
              <h6>Heatshrink Image</h6>
              <h6>Heatshrink Tubing Colour</h6>
              <ul class="tube_colour"></ul>
              <h6>Heatshrink Imprint Colour</h6>
              <ul class="imprint_colour"></ul>
              <h6>Heatshrink Ink Colour</h6>
              <ul class="ink_colour"></ul>
            </div>
            <div class="labelling">
              <h4>Labelling</h4>
              <h6>Braided Sleeve Colour</h6>
              <ul class="braided_colour"></ul>
              <h6>Cable Ties Colour</h6>
              <ul class="cable_ties_colour"></ul>
            </div>
          </div>

          <button id="AddToCart">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>