{% comment %}<div class="custom__configure microphones">
  <div class="page-width">
    <div class="grid">
      <div class="grid__item seven-twelfths">
        <div class="prod__image image">
          <div class="prod__logo">
            <img src="black.png" class="prod__logo--image" alt="{{ shop.name }}">
          </div>
          <img src="{{ 'cable-06.png' | asset_url }}" alt="{{ shop.name }}">
          <img class="image-cable" src="black.png">
        </div>
        <div class="prod__infos">
          <a href="#" class="prod__spec">Cable Specifications</a>
          <span class="prod__info">* Some items will not render on cable</span>
        </div>
      </div>
      <div class="grid__item five-twelfths">
        <div class="cable">
          <h2>Configure your personal microphone cable</h2>
          <div class="prod__meta">
            <div class="grid">
              <div class="grid__item one-half">
                <ul class="config__heading">
                  <li>CaBle Options</li>
                  <li>Connector Options</li>
                  <li>Labelling Options</li>
                </ul>
              </div>
              <div class="grid__item one-half price__block">
                <span class="prod__totalprice">$130.00</span>
                <a href="#" class="button" id="AddToCart">Add to cart</a>
              </div>
            </div>
          </div>
          <div class="prod__choice-holder">
            <h3>Cable Options</h3>
            <span class="prod__choice">Cable Brand  ( <span class="prod__price">+$1.80</span> )</span>
            <div class="prod__bottom">
              <ul class="prod__list brand">
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-brand">
                    <span class="prod__choice-text">Belden</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-brand">
                    <span class="prod__choice-text">Canare</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-brand">
                    <span class="prod__choice-text">Gotham</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-brand">
                    <span class="prod__choice-text">Sommer</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-brand">
                    <span class="prod__choice-text">Switchcraft</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-brand">
                    <span class="prod__choice-text">Mogami</span>
                  </label>
                </li>
              </ul>
            </div>
            <span class="prod__choice">Cable Choice  ( <span class="prod__price">+$1.80</span> )</span>
            <div class="prod__bottom">
              <ul class="prod__list prod__list--two type">
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-choice">
                    <span class="prod__choice-text">Belden AES</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-choice">
                    <span class="prod__choice-text">Belden Standard</span>
                  </label>
                </li>
              </ul>
            </div>
            <span class="prod__choice">Cable length (m)  ( <span class="prod__price">+$1.80</span> )</span>
            <div class="prod__bottom">
              <div class="form__number">
                <input type="number" step="0.1" value="1">
              </div>
            </div>
            <span class="prod__choice">Cable Colour  ( <span class="prod__price">+$1.80</span> )</span>
            <div class="prod__bottom">
              <ul class="prod__color colour">
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-color">
                    <span class="prod__choice-color color--white">White</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-color">
                    <span class="prod__choice-color color--red">Red</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-color">
                    <span class="prod__choice-color color--blue">Blue</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-color">
                    <span class="prod__choice-color color--green">Green</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-color">
                    <span class="prod__choice-color color--yellow">Yellow</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-color">
                    <span class="prod__choice-color color--grey">Grey</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-color">
                    <span class="prod__choice-color color--purple">Purple</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-color">
                    <span class="prod__choice-color color--brown">Brown</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-color">
                    <span class="prod__choice-color color--orange">Orange</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-color">
                    <span class="prod__choice-color color--pink">Pink</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
         <ul class="prod__color">
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-color">
                    <span class="prod__choice-color color--white">White</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-color">
                    <span class="prod__choice-color color--red">Red</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-color">
                    <span class="prod__choice-color color--blue">Blue</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-color">
                    <span class="prod__choice-color color--green">Green</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-color">
                    <span class="prod__choice-color color--yellow">Yellow</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-color">
                    <span class="prod__choice-color color--grey">Grey</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-color">
                    <span class="prod__choice-color color--purple">Purple</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-color">
                    <span class="prod__choice-color color--brown">Brown</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-color">
                    <span class="prod__choice-color color--orange">Orange</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="cable-color">
                    <span class="prod__choice-color color--pink">Pink</span>
                  </label>
                </li>
              </ul>
          <div class="prod__choice-holder">
            <h3>Connector Options</h3>
            <span class="prod__choice">Connector Brand ( <span class="prod__price">+$1.80</span> )</span>
            <div class="prod__bottom">
              <ul class="prod__list prod__list-image">
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-brand">
                    <span class="prod__choice-text">
                      <img src="{{ 'logo-neutrik.png' | asset_url }}" alt="{{ shop.name }}">
                    </span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-brand">
                    <span class="prod__choice-text">
                      <img src="{{ 'logo-conxall.png' | asset_url }}" alt="{{ shop.name }}">
                    </span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-brand">
                    <span class="prod__choice-text">
                      <img src="{{ 'logo-amphenol.png' | asset_url }}" alt="{{ shop.name }}">
                    </span>
                  </label>
                </li>
              </ul>
            </div>
            <h4>Connector A</h4>
            <span class="prod__choice">Connector Type ( <span class="prod__price">+$1.80</span> )</span>
            <div class="prod__bottom">
              <ul class="prod__list prod__list--two">
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-type-a">
                    <span class="prod__choice-text">XLR connector NC3FXX-EMC</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-type-a">
                    <span class="prod__choice-text">XLR connector NC3FXX-B</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-type-a">
                    <span class="prod__choice-text">XLR connector NC3FXX</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-type-a">
                    <span class="prod__choice-text">XLR connector NC3FRX-B</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-type-a">
                    <span class="prod__choice-text">XLR connector NC3FRX</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-type-a">
                    <span class="prod__choice-text">XLR connector NC3MXX-EMC</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-type-a">
                    <span class="prod__choice-text">XLR connector NC3MXX-B</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-type-a">
                    <span class="prod__choice-text">XLR connector NC3MRX</span>
                  </label>
                </li>
              </ul>
            </div>
            <span class="prod__choice">Boot Colour  ( <span class="prod__price">+$1.80</span> )</span>
            <div class="prod__bottom">
              <ul class="prod__color">
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-a-boot-color">
                    <span class="prod__choice-color color--white">White</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-a-boot-color">
                    <span class="prod__choice-color color--red">Red</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-a-boot-color">
                    <span class="prod__choice-color color--blue">Blue</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-a-boot-color">
                    <span class="prod__choice-color color--green">Green</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-a-boot-color">
                    <span class="prod__choice-color color--yellow">Yellow</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-a-boot-color">
                    <span class="prod__choice-color color--grey">Grey</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-a-boot-color">
                    <span class="prod__choice-color color--purple">Purple</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-a-boot-color">
                    <span class="prod__choice-color color--brown">Brown</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-a-boot-color">
                    <span class="prod__choice-color color--orange">Orange</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-a-boot-color">
                    <span class="prod__choice-color color--pink">Pink</span>
                  </label>
                </li>
              </ul>
            </div>
            <span class="prod__choice">Connector Colour ID Rings  ( <span class="prod__price">+$1.80</span> )</span>
            <div class="prod__bottom">
              <ul class="prod__color">
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-a-id-rings">
                    <span class="prod__choice-color color--white">White</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-a-id-rings">
                    <span class="prod__choice-color color--red">Red</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-a-id-rings">
                    <span class="prod__choice-color color--blue">Blue</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-a-id-rings">
                    <span class="prod__choice-color color--green">Green</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-a-id-rings">
                    <span class="prod__choice-color color--yellow">Yellow</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-a-id-rings">
                    <span class="prod__choice-color color--grey">Grey</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-a-id-rings">
                    <span class="prod__choice-color color--purple">Purple</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-a-id-rings">
                    <span class="prod__choice-color color--brown">Brown</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-a-id-rings">
                    <span class="prod__choice-color color--orange">Orange</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-a-id-rings">
                    <span class="prod__choice-color color--pink">Pink</span>
                  </label>
                </li>
              </ul>
            </div>
            <h4>Connector B</h4>
            <span class="prod__choice">Connector Type ( <span class="prod__price">+$1.80</span> )</span>
            <div class="prod__bottom">
              <ul class="prod__list prod__list--two">
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-type-b">
                    <span class="prod__choice-text">XLR connector NC3FXX-EMC</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-type-b">
                    <span class="prod__choice-text">XLR connector NC3FXX-B</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-type-b">
                    <span class="prod__choice-text">XLR connector NC3FXX</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-type-b">
                    <span class="prod__choice-text">XLR connector NC3FRX-B</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-type-b">
                    <span class="prod__choice-text">XLR connector NC3FRX</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-type-b">
                    <span class="prod__choice-text">XLR connector NC3MXX-EMC</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-type-b">
                    <span class="prod__choice-text">XLR connector NC3MXX-B</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-type-b">
                    <span class="prod__choice-text">XLR connector NC3MRX</span>
                  </label>
                </li>
              </ul>
            </div>
            <span class="prod__choice">Boot Colour  ( <span class="prod__price">+$1.80</span> )</span>
            <div class="prod__bottom">
              <ul class="prod__color">
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-b-boot-color">
                    <span class="prod__choice-color color--white">White</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-b-boot-color">
                    <span class="prod__choice-color color--red">Red</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-b-boot-color">
                    <span class="prod__choice-color color--blue">Blue</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-b-boot-color">
                    <span class="prod__choice-color color--green">Green</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-b-boot-color">
                    <span class="prod__choice-color color--yellow">Yellow</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-b-boot-color">
                    <span class="prod__choice-color color--grey">Grey</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-b-boot-color">
                    <span class="prod__choice-color color--purple">Purple</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-b-boot-color">
                    <span class="prod__choice-color color--brown">Brown</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-b-boot-color">
                    <span class="prod__choice-color color--orange">Orange</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-b-boot-color">
                    <span class="prod__choice-color color--pink">Pink</span>
                  </label>
                </li>
              </ul>
            </div>
            <span class="prod__choice">Connector Colour ID Rings  ( <span class="prod__price">+$1.80</span> )</span>
            <div class="prod__bottom">
              <ul class="prod__color">
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-b-id-rings">
                    <span class="prod__choice-color color--white">White</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-b-id-rings">
                    <span class="prod__choice-color color--red">Red</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-b-id-rings">
                    <span class="prod__choice-color color--blue">Blue</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-b-id-rings">
                    <span class="prod__choice-color color--green">Green</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-b-id-rings">
                    <span class="prod__choice-color color--yellow">Yellow</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-b-id-rings">
                    <span class="prod__choice-color color--grey">Grey</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-b-id-rings">
                    <span class="prod__choice-color color--purple">Purple</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-b-id-rings">
                    <span class="prod__choice-color color--brown">Brown</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-b-id-rings">
                    <span class="prod__choice-color color--orange">Orange</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="connector-b-id-rings">
                    <span class="prod__choice-color color--pink">Pink</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <div class="prod__choice-holder">
            <h3>Heatshrink</h3>
            <span class="prod__choice">Design your heatshrink ( <span class="prod__price">+$1.80</span> ) <a href="#" class="prod__choice--right">Upload notes</a></span>
            <div class="prod__bottom">
              <div class="product__file">
                <input type="file" id="heatshrink-design" class="inputfile">
                <label class="custom__file" for="heatshrink-design">
                  <span class="file__text">Select an image - Max File size 3MB</span>
                  <span class="file__btn">Upload</span>
                </label>
              </div>
            </div>
            <span class="prod__choice">Tubing Color ( <span class="prod__price">+$1.80</span> ) <a href="#" class="prod__choice--right">Tubing notes</a></span>
            <div class="prod__bottom">
              <ul class="prod__color">
                <li>
                  <label class="custom__check">
                    <input type="radio" name="tubing-color">
                    <span class="prod__choice-color color--white">White</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="tubing-color">
                    <span class="prod__choice-color color--red">Red</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="tubing-color">
                    <span class="prod__choice-color color--blue">Blue</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="tubing-color">
                    <span class="prod__choice-color color--green">Green</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="tubing-color">
                    <span class="prod__choice-color color--yellow">Yellow</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="tubing-color">
                    <span class="prod__choice-color color--grey">Grey</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="tubing-color">
                    <span class="prod__choice-color color--purple">Purple</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="tubing-color">
                    <span class="prod__choice-color color--brown">Brown</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="tubing-color">
                    <span class="prod__choice-color color--orange">Orange</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="tubing-color">
                    <span class="prod__choice-color color--pink">Pink</span>
                  </label>
                </li>
              </ul>
            </div>
            <span class="prod__choice">Imprint Color ( <span class="prod__price">+$1.80</span> ) <a href="#" class="prod__choice--right">Imprint notes</a></span>
            <div class="prod__bottom">
              <ul class="prod__color">
                <li>
                  <label class="custom__check">
                    <input type="radio" name="imprint-color">
                    <span class="prod__choice-color color--white">White</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="imprint-color">
                    <span class="prod__choice-color color--grey">grey</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="imprint-color">
                    <span class="prod__choice-color color--yellow">yellow</span>
                  </label>
                </li>
              </ul>
            </div>
            <span class="prod__choice">Ink ( <span class="prod__price">+$1.80</span> ) <a href="#" class="prod__choice--right">Ink notes</a></span>
            <div class="prod__bottom">
              <ul class="prod__color">
                <li>
                  <label class="custom__check">
                    <input type="radio" name="ink">
                    <span class="prod__choice-color color--white">White</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="ink">
                    <span class="prod__choice-color color--red">Red</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="ink">
                    <span class="prod__choice-color color--blue">Blue</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="ink">
                    <span class="prod__choice-color color--green">Green</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="ink">
                    <span class="prod__choice-color color--yellow">Yellow</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="ink">
                    <span class="prod__choice-color color--grey">Grey</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="ink">
                    <span class="prod__choice-color color--purple">Purple</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="ink">
                    <span class="prod__choice-color color--brown">Brown</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="ink">
                    <span class="prod__choice-color color--orange">Orange</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="ink">
                    <span class="prod__choice-color color--pink">Pink</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <div class="prod__choice-holder">
            <h3>Labelling Options</h3>
            <span class="prod__choice">Braided Sleeves ( <span class="prod__price">+$1.80</span> ) <a href="#" class="prod__choice--right">Sleeves notes</a></span>
            <div class="prod__bottom">
              <div class="prod__logo">
                <img src="{{ 'logo-techflex.png' | asset_url }}" alt="{{ shop.name }}">
              </div>
              <ul class="prod__color">
                <li>
                  <label class="custom__check">
                    <input type="radio" name="braided-sleeves">
                    <span class="prod__choice-color color--white">White</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="braided-sleeves">
                    <span class="prod__choice-color color--red">Red</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="braided-sleeves">
                    <span class="prod__choice-color color--blue">Blue</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="braided-sleeves">
                    <span class="prod__choice-color color--green">Green</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="braided-sleeves">
                    <span class="prod__choice-color color--yellow">Yellow</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="braided-sleeves">
                    <span class="prod__choice-color color--grey">Grey</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="braided-sleeves">
                    <span class="prod__choice-color color--purple">Purple</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="braided-sleeves">
                    <span class="prod__choice-color color--brown">Brown</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="braided-sleeves">
                    <span class="prod__choice-color color--orange">Orange</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="braided-sleeves">
                    <span class="prod__choice-color color--pink">Pink</span>
                  </label>
                </li>
              </ul>
            </div>
            <span class="prod__choice">Cable Ties Colour ( <span class="prod__price">+$1.80</span> ) <a href="#" class="prod__choice--right">Cable ties notes</a></span>
            <div class="prod__bottom">
              <div class="prod__logo">
                <img src="{{ 'logo-riptie.png' | asset_url }}" alt="{{ shop.name }}">
              </div>
              <ul class="prod__color">
                <li>
                  <label class="custom__check">
                    <input type="radio" name="rip-tie">
                    <span class="prod__choice-color color--white">White</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="rip-tie">
                    <span class="prod__choice-color color--red">Red</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="rip-tie">
                    <span class="prod__choice-color color--blue">Blue</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="rip-tie">
                    <span class="prod__choice-color color--green">Green</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="rip-tie">
                    <span class="prod__choice-color color--yellow">Yellow</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="rip-tie">
                    <span class="prod__choice-color color--grey">Grey</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="rip-tie">
                    <span class="prod__choice-color color--purple">Purple</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="rip-tie">
                    <span class="prod__choice-color color--brown">Brown</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="rip-tie">
                    <span class="prod__choice-color color--orange">Orange</span>
                  </label>
                </li>
                <li>
                  <label class="custom__check">
                    <input type="radio" name="rip-tie">
                    <span class="prod__choice-color color--pink">Pink</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <div class="button__wrapper">
            <a href="#" class="button">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>{% endcomment %}
<div class="custom__configure microphone">
  <div class="page-width">
    <div class="grid__item seven-twelfths">
      <div class="prod__image image">
        <div class="prod__logo">
          <img src="{{ 'logo.png' | asset_url }}" alt="{{ section.settings.logo.alt | default: shop.name }}">
        </div>
        {% comment %}<img src="{{ 'cable-06.png' | asset_url }}" alt="{{ shop.name }}">{% endcomment %}
        <div class="cable__holder">
          <img class="image-cable" src="black.png">
        </div>
      </div>
      <div class="prod__infos">
        <a href="#" class="prod__spec">Cable Specifications</a>
        <span class="prod__info">* Some items will not render on cable</span>
      </div>
    </div>
    <div class="grid__item five-twelfths">
      <h2>Configure your personal microphone cable</h2>
      {% comment %}<div class="prod__meta">
        <div class="grid">
          <div class="grid__item one-half">
            <ul class="config__heading">
              <li>CaBle Options</li>
              <li>Connector Options</li>
              <li>Labelling Options</li>
            </ul>
          </div>
          <div class="grid__item one-half price__block">
            <span class="prod__totalprice">$130.00</span>
            <a href="#" class="button" id="AddToCart">Add to cart</a>
          </div>
        </div>
      </div>{% endcomment %}
      <div class="cable">
        <h3>Cable Options</h3>
        <span class="prod__choice">Cable Brand</span>
        <ul class="prod__list brand"></ul>
        <span class="prod__choice">Cable Choice</span>
        <ul class="type prod__list"></ul>
        <span class="prod__choice">Cable Colour</span>
        <ul class="prod__color colour"></ul>
      </div>
      <div class="connector_a">
        <h3>Connector A Options</h3>
        <span class="prod__choice">Connector A Brand</span>
        <ul class="brand prod__list"></ul>
        <span class="prod__choice">Connector A Choice</span>
        <ul class="type prod__list"></ul>
        <span class="prod__choice">Connector A Colour</span>
        <ul class="colour prod__color"></ul>
      </div>
      <div class="connector_b">
        <h3>Connector B Options</h3>
        <span class="prod__choice">Connector B Brand</span>
        <ul class="prod__list brand"></ul>
        <span class="prod__choice">Connector B Choice</span>
        <ul class="prod__list type"></ul>
        <span class="prod__choice">Connector B Colour</span>
        <ul class="prod__color colour"></ul>
      </div>
      <div class="heatshrink">
        <h3>Heatshrink</h3>
        <span class="prod__choice">Heatshrink Image</span>
        <span class="prod__choice">Heatshrink Tubing Colour</span>
        <ul class="prod__color tube_colour"></ul>
        <span class="prod__choice">Heatshrink Imprint Colour</span>
        <ul class="prod__color imprint_colour"></ul>
        <span class="prod__choice">Heatshrink Ink Colour</span>
        <ul class="prod__color ink_colour"></ul>
      </div>
      <div class="labelling">
        <h3>Labelling</h3>
        <span class="prod__choice">Braided Sleeve Colour</span>
        <ul class="prod__color braided_colour"></ul>
        <span class="prod__choice">Cable Ties Colour</span>
        <ul class="prod__color cable_ties_colour"></ul>
      </div>
      <button class="button" id="AddToCart">Add to Cart</button>
    </div>
  </div>
</div>