<section class="content__wrapper">
  <div class="page-width">
    <header class="mainhead">
      <h2>Featured Products</h2>
    </header>
    <div class="products product__slider">
      <div class="slide">
        <div class="product">
          <div class="product__image">
            <img src="{{ 'cable01.png' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <div class="product__text">
            <h2>Mogami {% comment %}Gi10rr Gold Instrument Cable{% endcomment %}</h2>
            <span class="product__option">6 colors</span>
            <div class="product__meta">
              <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
              <span class="product__price">$25<span class="product__price--cent">.60</span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="product">
          <div class="product__image">
            <img src="{{ 'cable02.png' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <div class="product__text">
            <h2>Mogami Gi10rr Gold Instrument Cable</h2>
            <span class="product__option">6 colors</span>
            <div class="product__meta">
              <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
              <span class="product__price">$75<span class="product__price--cent">.60</span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="product">
          <div class="product__image">
            <img src="{{ 'cable03.png' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <div class="product__text">
            <h2>Mogami Gi10rr Gold Instrument Cable</h2>
            <span class="product__option">6 colors</span>
            <div class="product__meta">
              <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
              <span class="product__price">$75<span class="product__price--cent">.60</span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="product">
          <div class="product__image">
            <img src="{{ 'cable04.png' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <div class="product__text">
            <h2>Mogami Gi10rr Gold Instrument Cable</h2>
            <span class="product__option">6 colors</span>
            <div class="product__meta">
              <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
              <span class="product__price">$25<span class="product__price--cent">.60</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content__wrapper black--bg">
  <div class="page-width">
    <header class="mainhead">
      <h2>Designed For You</h2>
    </header>
    <div class="products product__slider">
      <div class="slide">
        <div class="product">
          <div class="product__image">
            <img src="{{ 'cable01.png' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <div class="product__text">
            <h2>Microphone Cables</h2>
            <div class="product__meta">
              <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
              <span class="product__price">$25<span class="product__price--cent">.60</span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="product">
          <div class="product__image">
            <img src="{{ 'cable05.png' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <div class="product__text">
            <h2>Guitar &amp; Keyboard Cables</h2>
            <div class="product__meta">
              <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
              <span class="product__price">$75<span class="product__price--cent">.60</span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="product">
          <div class="product__image">
            <img src="{{ 'cable03.png' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <div class="product__text">
            <h2>Cable Ties</h2>
            <div class="product__meta">
              <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
              <span class="product__price">$75<span class="product__price--cent">.60</span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="product">
          <div class="product__image">
            <img src="{{ 'cable04.png' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <div class="product__text">
            <h2>Designer Heatshrink Labels</h2>
            <div class="product__meta">
              <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
              <span class="product__price">$25<span class="product__price--cent">.60</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content__wrapper less--bottom">
  <div class="page-width">
    <div class="mainhead">
      <h2>Professional Production</h2>
    </div>
    <div class="product__holder">
      <div class="product__block">
        <div class="product__block-image">
          <img src="{{ 'box-cable01.png' | asset_url }}" alt="{{ shop.name }}">
        </div>
        <div class="product__block-text">
          <h2>Speakers</h2>
          <p>Explore our range of speaker cables for professional touring covering all NL4, NL8, EP5 and 8 pin CA-COM style configurations made exclusively with Klotz cable available in standard and custom lengths.</p>
          <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
        </div>
      </div>
      <div class="product__block">
        <div class="product__block-image">
          <img src="{{ 'box-cable02.png' | asset_url }}" alt="{{ shop.name }}">
        </div>
        <div class="product__block-text">
          <h2>Multicores and Stageboxes</h2>
          <p>Browse our customisable analog and digital multicores constructed with your choice of balanced connectors and industry standard round multipin connectors.</p>
          <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
        </div>
      </div>
      <div class="product__block">
        <div class="product__block-image">
          <img src="{{ 'box-cable03.png' | asset_url }}" alt="{{ shop.name }}">
        </div>
        <div class="product__block-text">
          <h2>Networking</h2>
          <p>CAT.5e and Cat.6a patch cables and cable drums available with your choice of etherCon and RJ45 connectors in ruggedised or standard jacket versions.</p>
          <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
        </div>
      </div>
      <div class="product__block">
        <div class="product__block-image">
          <img src="{{ 'box-cable02.png' | asset_url }}" alt="{{ shop.name }}">
        </div>
        <div class="product__block-text">
          <h2>4K UHD Video</h2>
          <p>Installation and field deployable cable drums available in standard and custom lengths, exclusively made with Belden’s 4694R and 4694F terminated with Neutrik’s UHD BNC.</p>
          <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="logo__holder">
  <div class="page-width">
    <ul class="logos logo__slider">
      <li>
        <a href="#">
          <img src="{{ 'logo01.jpg' | asset_url }}" alt="{{ shop.name }}">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ 'logo02.jpg' | asset_url }}" alt="{{ shop.name }}">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ 'logo03.jpg' | asset_url }}" alt="{{ shop.name }}">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ 'logo04.jpg' | asset_url }}" alt="{{ shop.name }}">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ 'logo05.jpg' | asset_url }}" alt="{{ shop.name }}">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ 'logo06.jpg' | asset_url }}" alt="{{ shop.name }}">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ 'logo07.jpg' | asset_url }}" alt="{{ shop.name }}">
        </a>
      </li>
    </ul>
  </div>
</section>
<section class="content__wrapper black--bg">
  <div class="page-width">
    <div class="mainhead">
      <h2>Our Blog</h2>
    </div>
    <div class="blogs blog__slider">
      <div class="slide">
        <div class="blog">
          <a href="#">
            <div class="blog__image">
              <img src="{{ 'blog01.jpg' | asset_url }}" alt="{{ shop.name }}">
            </div>
            <div class="blog__text">
              <time class="time" datetime="2018-02-22">FEBRUARY 22, 2018</time>
              <h3>Watch Johnny Depp Perform With Stone Temple Pilots at Tour Opener</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="slide">
        <div class="blog">
          <a href="#">
            <div class="blog__image">
              <img src="{{ 'blog02.jpg' | asset_url }}" alt="{{ shop.name }}">
            </div>
            <div class="blog__text">
              <time class="time" datetime="2018-02-22">FEBRUARY 22, 2018</time>
              <h3>Watch Johnny Depp Perform With Stone Temple Pilots at Tour Opener</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="slide">
        <div class="blog">
          <a href="#">
            <div class="blog__image">
              <img src="{{ 'blog03.jpg' | asset_url }}" alt="{{ shop.name }}">
            </div>
            <div class="blog__text">
              <time class="time" datetime="2018-02-22">FEBRUARY 22, 2018</time>
              <h3>Watch Johnny Depp Perform With Stone Temple Pilots at Tour Opener</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="info__wrapper">
  <div class="page-width">
    <div class="grid">
      <div class="grid__item one-quarter">
        <div class="info">
          <div class="info__ico">
            <img src="{{ 'ico-faq.svg' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <h4>FAQs</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore magna aliquain.</p>
        </div>
      </div>
      <div class="grid__item one-quarter">
        <div class="info">
          <div class="info__ico">
            <img src="{{ 'ico-tick.svg' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <h4>Warranties</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore magna aliquain.</p>
        </div>
      </div>
      <div class="grid__item one-quarter">
        <div class="info">
          <div class="info__ico">
            <img src="{{ 'ico-ship.svg' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <h4>Shipping</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore magna aliquain.</p>
        </div>
      </div>
      <div class="grid__item one-quarter">
        <div class="info">
          <div class="info__ico">
            <img src="{{ 'ico-envelope.svg' | asset_url }}" alt="{{ shop.name }}">
          </div>
          <h4>Subscribe</h4>
          <form action="#" class="subscribe__form">
            <div class="form__wrap">
              <input type="email" placeholder="Enter Your Email">
              <button type="submit">{% include 'icon-arrow-right-long' %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="general__wrapper">
  <div class="page-width">
    <div class="general__content">
      <div class="grid grid--flex">
        <div class="grid__item one-half">
          <div class="general__text">
            <h2>Example Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
        <div class="grid__item one-half">
          <div class="image__holder">
            <img src="{{ 'img01.jpg' | asset_url }}" alt="{{ shop.name }}">
          </div>
        </div>
      </div>
      <div class="grid grid--flex">
        <div class="grid__item one-half">
          <div class="general__text">
            <h2>Example Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
        <div class="grid__item one-half">
          <div class="image__holder">
            <img src="{{ 'img02.jpg' | asset_url }}" alt="{{ shop.name }}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="product__listing">
  <div class="page-width">
    <div class="grid">
      <div class="grid__item one-quarter">
        <div class="sidebar__filter">
          <div class="sidebar__filter-hold">
            <ul class="breadcrumbs">
              <li><a href="#">Home</a></li>
              <li><a href="#">Products</a></li>
              <li>Microphones</li>
            </ul>
            <h3>Browse by Application</h3>
            <ul class="prod__list prod__list--two">
              <li>
                <label class="custom__check">
                  <input type="radio" name="browse-application">
                  <span class="prod__choice-text">Stage</span>
                </label>
              </li>
              <li>
                <label class="custom__check">
                  <input type="radio" name="browse-application">
                  <span class="prod__choice-text">Studio</span>
                </label>
              </li>
              <li>
                <label class="custom__check">
                  <input type="radio" name="browse-application">
                  <span class="prod__choice-text">Pedal Boards</span>
                </label>
              </li>
              <li>
                <label class="custom__check">
                  <input type="radio" name="browse-application">
                  <span class="prod__choice-text">Stereo <br>Keyboards</span>
                </label>
              </li>
              <li>
                <label class="custom__check">
                  <input type="radio" name="browse-application">
                  <span class="prod__choice-text">Silent Plugs</span>
                </label>
              </li>
              <li>
                <label class="custom__check">
                  <input type="radio" name="browse-application">
                  <span class="prod__choice-text">Low <br>Capacitance</span>
                </label>
              </li>
            </ul>
          </div>
          <div class="sidebar__filter-hold">
            <h3>Browse by Colour</h3>
            <ul class="prod__color">
              <li>
                <label class="custom__check">
                  <input type="radio" name="browse-by-color">
                  <span class="prod__choice-color color--white">White</span>
                </label>
              </li>
              <li>
                <label class="custom__check">
                  <input type="radio" name="browse-by-color">
                  <span class="prod__choice-color color--red">Red</span>
                </label>
              </li>
              <li>
                <label class="custom__check">
                  <input type="radio" name="browse-by-color">
                  <span class="prod__choice-color color--blue">Blue</span>
                </label>
              </li>
              <li>
                <label class="custom__check">
                  <input type="radio" name="browse-by-color">
                  <span class="prod__choice-color color--green">Green</span>
                </label>
              </li>
              <li>
                <label class="custom__check">
                  <input type="radio" name="browse-by-color">
                  <span class="prod__choice-color color--yellow">Yellow</span>
                </label>
              </li>
              <li>
                <label class="custom__check">
                  <input type="radio" name="browse-by-color">
                  <span class="prod__choice-color color--grey">Grey</span>
                </label>
              </li>
              <li>
                <label class="custom__check">
                  <input type="radio" name="browse-by-color">
                  <span class="prod__choice-color color--purple">Purple</span>
                </label>
              </li>
              <li>
                <label class="custom__check">
                  <input type="radio" name="browse-by-color">
                  <span class="prod__choice-color color--brown">Brown</span>
                </label>
              </li>
              <li>
                <label class="custom__check">
                  <input type="radio" name="browse-by-color">
                  <span class="prod__choice-color color--orange">Orange</span>
                </label>
              </li>
              <li>
                <label class="custom__check">
                  <input type="radio" name="browse-by-color">
                  <span class="prod__choice-color color--pink">Pink</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="grid__item three-quarters">
        <header class="listing__heading">
          <h1>Microphones</h1>
          <span class="page__counter">Showing: <span class="page__counts">9 of 18</span></span>
        </header>
        <div class="grid grid--flex">
          <div class="grid__item one-third">
            <div class="product">
              <div class="product__image">
                <img src="{{ 'cable01.png' | asset_url }}" alt="{{ shop.name }}">
              </div>
              <div class="product__text">
                <h2>Mogami</h2>
                <span class="product__option">6 colors</span>
                <div class="product__meta">
                  <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
                  <span class="product__price">$25<span class="product__price--cent">.60</span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="grid__item one-third">
            <div class="product">
              <div class="product__image">
                <img src="{{ 'cable02.png' | asset_url }}" alt="{{ shop.name }}">
              </div>
              <div class="product__text">
                <h2>Mogami Gi10rr Gold Instrument Cable</h2>
                <span class="product__option">6 colors</span>
                <div class="product__meta">
                  <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
                  <span class="product__price">$75<span class="product__price--cent">.60</span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="grid__item one-third">
            <div class="product">
              <div class="product__image">
                <img src="{{ 'cable03.png' | asset_url }}" alt="{{ shop.name }}">
              </div>
              <div class="product__text">
                <h2>Mogami Gi10rr Gold Instrument Cable</h2>
                <span class="product__option">6 colors</span>
                <div class="product__meta">
                  <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
                  <span class="product__price">$75<span class="product__price--cent">.60</span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="grid__item one-third">
            <div class="product">
              <div class="product__image">
                <img src="{{ 'cable01.png' | asset_url }}" alt="{{ shop.name }}">
              </div>
              <div class="product__text">
                <h2>Mogami</h2>
                <span class="product__option">6 colors</span>
                <div class="product__meta">
                  <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
                  <span class="product__price">$25<span class="product__price--cent">.60</span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="grid__item one-third">
            <div class="product">
              <div class="product__image">
                <img src="{{ 'cable02.png' | asset_url }}" alt="{{ shop.name }}">
              </div>
              <div class="product__text">
                <h2>Mogami Gi10rr Gold Instrument Cable</h2>
                <span class="product__option">6 colors</span>
                <div class="product__meta">
                  <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
                  <span class="product__price">$75<span class="product__price--cent">.60</span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="grid__item one-third">
            <div class="product">
              <div class="product__image">
                <img src="{{ 'cable03.png' | asset_url }}" alt="{{ shop.name }}">
              </div>
              <div class="product__text">
                <h2>Mogami Gi10rr Gold Instrument Cable</h2>
                <span class="product__option">6 colors</span>
                <div class="product__meta">
                  <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
                  <span class="product__price">$75<span class="product__price--cent">.60</span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="grid__item one-third">
            <div class="product">
              <div class="product__image">
                <img src="{{ 'cable01.png' | asset_url }}" alt="{{ shop.name }}">
              </div>
              <div class="product__text">
                <h2>Mogami</h2>
                <span class="product__option">6 colors</span>
                <div class="product__meta">
                  <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
                  <span class="product__price">$25<span class="product__price--cent">.60</span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="grid__item one-third">
            <div class="product">
              <div class="product__image">
                <img src="{{ 'cable02.png' | asset_url }}" alt="{{ shop.name }}">
              </div>
              <div class="product__text">
                <h2>Mogami Gi10rr Gold Instrument Cable</h2>
                <span class="product__option">6 colors</span>
                <div class="product__meta">
                  <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
                  <span class="product__price">$75<span class="product__price--cent">.60</span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="grid__item one-third">
            <div class="product">
              <div class="product__image">
                <img src="{{ 'cable03.png' | asset_url }}" alt="{{ shop.name }}">
              </div>
              <div class="product__text">
                <h2>Mogami Gi10rr Gold Instrument Cable</h2>
                <span class="product__option">6 colors</span>
                <div class="product__meta">
                  <a href="#" class="button">buy now <span class="ico-wrap">{% include 'icon-shopping-bag' %}</span></a>
                  <span class="product__price">$75<span class="product__price--cent">.60</span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="pagination__holder">
      <ul class="pagination">
        <li>Page:</li>
        <li><a href="#" class="control__arrow left">{% include 'icon-angle-down' %}</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#" class="control__arrow right">{% include 'icon-angle-down' %}</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="account__wrapper">
  <div class="page-width">
    <div class="grid">
      <div class="grid__item one-third">
        <h2><mark>Hello</mark> Joe Blogs</h2>
        <div class="contact__detail">
          <span class="contact__text">
            <span class="ico-holder">{% include 'icon-mail' %}</span>
            <a class="email" href="mailto:info@cablesmiths.com.au">info@cablesmiths.com.au</a></span>
        </div>
        <div class="contact__detail">
          <span class="contact__text">
            <span class="ico-holder">{% include 'icon-phone' %}</span>
            <a href="mailto:+441252236000">+44 1252 236000</a></span>
        </div>
        <div class="contact__detail">
          <div class="contact__text">
            <span class="ico-holder">{% include 'icon-truck' %}</span>
            <address>77 Your Address WA,  6025 </address>
          </div>
        </div>
        <div class="button__holder">
          <a href="#" class="button">Edit Details</a>
        </div>
      </div>
      <div class="grid__item two-thirds">
        <h1>My Orders</h1>
        <div class="table__holder">
          <table>
            <thead>
              <tr>
                <th>Order #</th>
                <th>Products</th>
                <th>Date</th>
                <th>Price</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>0001</td>
                <td><a href="#">Cable1</a>, <a href="#">Cable2</a></td>
                <td>11/6/2017</td>
                <td>$899.00</td>
                <td><span class="status processing">Processing</span></td>
              </tr>
              <tr>
                <td>0002</td>
                <td><a href="#">Cable1</a>, <a href="#">Cable2</a></td>
                <td>11/6/2017</td>
                <td>$899.00</td>
                <td><span class="status shipped">Shipped</span></td>
              </tr>
              <tr>
                <td>0003</td>
                <td><a href="#">Cable1</a>, <a href="#">Cable2</a></td>
                <td>11/6/2017</td>
                <td>$899.00</td>
                <td><span class="status complete">Completed</span></td>
              </tr>
              <tr>
                <td>0004</td>
                <td><a href="#">Cable1</a>, <a href="#">Cable2</a></td>
                <td>11/6/2017</td>
                <td>$899.00</td>
                <td><span class="status complete">Completed</span></td>
              </tr>
              <tr>
                <td>0005</td>
                <td><a href="#">Cable1</a>, <a href="#">Cable2</a></td>
                <td>11/6/2017</td>
                <td>$899.00</td>
                <td><span class="status cancel">Cancelled</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>