<div class="custom__wrapper">
  <div class="custom__cables">
    <div class="page-width">
      <h2>Professional Custom Cables Built to Your Specifications and Design</h2>
      <div class="grid grid--flex">
        
        <div class="grid__item one-fifth">
          <div class="custom__product">
            
          </div>
        </div>

		
        <!-- MICROPHONES CONFIGURATOR -->
        
        
        <div class="grid__item one-fifth">
          <div class="custom__product">
            <h3>Custom Microphone Cables</h3>
            <div class="custom__product-image">
              <a href="/pages/microphone-configurator"><img src="{{ 'custom-microphone-cable.jpg' | asset_url }}" alt="{{ shop.name }}"></a>
            </div>
            <p>Custom built microphone cables for all stage, studio and install applications. Design your perfect custom cable for all microphones, instruments, studio gear and powered speakers here. </p>
            <a href="/pages/microphone-configurator" class="button">Build Now</a>
          </div>
        </div>
        
        <!-- INSTRUMENT CONFIGURATOR -->
        
        <div class="grid__item one-fifth">
          <div class="custom__product">
            <h3>Custom Guitar Cables</h3>
            <div class="custom__product-image">
              <a href="/pages/instrument-configurator"><img src="{{ 'custom-guitar-cable.jpg' | asset_url }}" alt="{{ shop.name }}"></a>
            </div>
            <p>Build the best guitar cables from our fantastic collection of high quality, low noise guitar cables. Meticulously hand assembled with silver solder for all electric, acoustic and bass guitars! </p>
            <a href="/pages/instrument-configurator" class="button">Build Now</a>
          </div>
        </div>
        
        <!-- SPEAKER CONFIGURATOR -->
        
        <div class="grid__item one-fifth">
          <div class="custom__product">
            <h3>Custom Loudspeaker Cables</h3>
            <div class="custom__product-image">
              <a href="/pages/speaker-configurator"><img src="{{ 'custom-loudspeaker-image.jpg' | asset_url }}" alt="{{ shop.name }}"></a>
            </div>
            <p>Custom design speaker cables for all professional point source, line array, subwoofer and monitor loudspeaker systems with Neutrik NL4, NL8 and LK CACOM connectors</p>
            <a href="/pages/speaker-configurator" class="button">Build Now</a>
          </div>
        </div>
         
        <div class="grid__item one-fifth">
          <div class="custom__product">
            
          </div>
        </div>


        
        
        <!-- POWER CONFIGURATOR -->
        
         <!-- 
        <div class="grid__item one-fifth">
          <div class="custom__product">
            <h3>Power</h3>
            <div class="custom__product-image">
              <a href="/pages/power-configurator"><img src="{{ 'power-category.jpg' | asset_url }}" alt="{{ shop.name }}"></a>
            </div>
            <p>Power cables</p>
            <a href="/pages/power-configurator" class="button">Build</a>
          </div>
        </div>
		-->
		
        
        
        <!-- DATA CONFIGURATOR -->
        
         <!--
        <div class="grid__item one-fifth">
          <div class="custom__product">
            <h3>Data &amp; Networking</h3>
            <div class="custom__product-image">
            	<a href="/pages/data-configurator"><img src="{{ 'config_landing_data.jpg' | asset_url }}" alt="{{ shop.name }}"></a>
            </div>
            <p>CAT.5e, CAT.6A, BNC and 4K UHD Patch Cables and Cable Drums</p>
            <a href="/pages/data-configurator" class="button">Build</a>
          </div>
        </div>
		-->

      </div>
    </div>
  </div>
</div>